html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #333333;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(https://res.cloudinary.com/scissorsneedfoodtoo/image/upload/q_100/v1465191205/mountains_z9y8zo.jpg) center;
  background-size: cover;
  height: 75vh;
}

.header-text {
  display: flex;
  /*background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(https://res.cloudinary.com/scissorsneedfoodtoo/image/upload/q_100/v1465191205/mountains_z9y8zo.jpg) center;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 75vh;
}

nav {
  display: flex;
  padding: 20px 0 15px 0;
  text-align: center; /* center align stuff in nav */
  max-width: 300px;
  margin: auto;
}

nav span {
  margin: auto;
}

nav a {
  /*color: rgba(0, 0, 0, 0.5);*/
  color: white;
  font-size: 17px;
  font-weight: 700;
  /*text-transform: uppercase;*/
  text-decoration: none;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.title-block {
  margin: auto;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  /*font-size: 5.625rem;*/
  font-weight: 700;
  color: white;
  letter-spacing: 0.05em;
  margin: auto;
  margin-bottom: 15px;
  z-index: 1;
}

.title span {
  display: inline-block;
  padding: .02em 0.5em;
  border: white solid 10px;
  margin: 10px;
}

.kicker {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: white;
  font-size: 1.25em;
  margin: auto;
}

.primary-content {
  padding: 0 20px;
}

section {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section::after {
  content: '';
  border-bottom: 2px solid #dfe2e6;
  width: 300px;
  padding-top: 50px;
  justify-content: center;
  align-content: center;
}

.section-header {
  margin: 40px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
}

.selfie-pic {
  max-width: 180px;
  margin: 0 auto 30px;
  /*margin: auto;*/
  border-radius: 100%;
}

.work-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.work-image {
  max-width: 300px;
  max-height: 225px;
  border: 6px solid #fff;
  border-radius: 2px;
  /*box-shadow: 1px 4px 25px rgba(117,81,125,0.15);*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
